@page
@model PizzaBay.Pages.ClientPageModel
@{
}
<div class="text-white text-center ">
    <h1>Як зробити замовлення?</h1>
    <h2 class="m-3 subTitle">Обирайте зручний для вас спосіб</h2>
    <div class="container mt-5 w-50">
        <div class="makeYourOwnDiv">
            <h2 class="pt-3">На сайті</h2>
            <a class="nav-link" asp-area="" asp-page="/Pizza">
                <h3>Pizza Bay</h3>
            </a>
            <br />
            <div class="pb-3">
                <h2>Телефоном</h2>
                <h3 class="fs-4 text-center smallText">+380966606914</h3>
                <h3 class="fs-4 text-center smallText">+380931983588</h3>
            </div>
        </div>
    </div>
</div>