@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-white">
    <h1 class="display-2">Pizza Bay</h1>
    <h2 class="subTitle">Кохання з першого шматочка</h2>
    </div>
    <img class="mainImage logo" src="~/images/logo.jpg" />
    <br/>
    <a class="btn btn-custom-main mt-2" asp-area="" asp-page="/Pizza">Хочу піци!</a>
</div>
